/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import "~@angular/material/_theming.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary: mat-palette($mat-cyan,800, 300, 900);
$my-theme-accent: mat-palette($mat-light-blue);
$my-theme-warn: mat-palette($mat-deep-orange, A200);
$accent: mat-palette($mat-deep-orange, A200);

$theme: mat-dark-theme($primary, $my-theme-accent);

@include angular-material-theme($theme);
